<!--begin::Hero-->
<div
  class="bgi-no-repeat bgi-position-center bgi-size-cover d-flex flex-column h-400px h-lg-450px"
>
  <!--begin::Container-->
  <div class="container">
    <!--begin::Head-->
    <div class="d-flex flex-stack py-3 py-lg-8">
      <!--begin::Title-->
      <h2 class="fw-bolder text-black pe-2 m-0">Support Center</h2>
      <!--end::Title-->
      <!--begin::Action-->
      <a
        href="#"
        data-bs-toggle="modal"
        data-bs-target="#kt_modal_new_ticket"
        class="btn btn-success"
        >Create Ticket</a
      >
      <!--end::Action-->
    </div>
    <!--end::Head-->
  </div>
  <!--end::Container-->
  <!--begin::Container-->
  <div class="container pt-10 pt-lg-13">
    <!--begin::Title-->
    <h3 class="fs-2x fw-bolder text-black text-center mb-10 mb-lg-13">
      How Can We Help You?
    </h3>
    <!--end::Title-->
    <!--begin::Input group-->
    <div
      class="position-relative w-100 mw-600px mx-auto"
      style="background: rgba(255, 255, 255, 0.05)"
    >
      <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
      <span
        class="svg-icon svg-icon-2qx svg-icon-black position-absolute top-50 translate-middle ms-9"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
        >
          <rect
            opacity="0.5"
            x="17.0365"
            y="15.1223"
            width="8.15546"
            height="2"
            rx="1"
            transform="rotate(45 17.0365 15.1223)"
            fill="black"
          />
          <path
            d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z"
            fill="black"
          />
        </svg>
      </span>
      <!--end::Svg Icon-->
      <input
        type="text"
        class="form-control bg-white fs-2 py-6 ps-17 placeholder-black"
        style="border: 1px solid rgba(255, 255, 255, 0.24)"
        name="search"
        value=""
        placeholder="Ask a question"
      />
    </div>
    <!--end::Input group-->
  </div>
  <!--end::Container-->
</div>
<!--end::Hero-->
<!--begin::Svg-->
<div class="mt-n15 text-page-bg">
  <svg
    width="100%"
    height="56px"
    viewBox="0 0 100 100"
    version="1.1"
    preserveAspectRatio="none"
    class=""
  >
    <path
      d="M0,0 C16.6666667,66 33.3333333,99 50,99 C66.6666667,99 83.3333333,66 100,0 L100,100 L0,100 L0,0 Z"
      fill="currentColor"
    ></path>
  </svg>
</div>
<!--end::Svg-->
<!--begin::Container-->
<div class="container">
  <!--begin::Card-->
  <div class="card translate-middle-y mt-n10 mt-lg-n10">
    <!--begin::Card body-->
    <div class="card-body">
      <!--begin::Nav-->
      <ul
        class="nav mx-auto flex-shrink-0 flex-center flex-wrap border-transparent fs-6 fw-bolder"
      >
        <!--begin::Nav item-->
        <li class="nav-item my-3">
          <a
            class="btn btn-active-light-primary fw-boldest nav-link btn-color-gray-700 px-3 px-lg-8 mx-1 text-uppercase"
            routerLink="/support/customer-support/overview"
            routerLinkActive="active"
            >Overview</a
          >
        </li>
        <!--end::Nav item-->
        <!--begin::Nav item-->
        <li class="nav-item my-3">
          <a
            class="btn btn-active-light-primary fw-boldest nav-link btn-color-gray-700 px-3 px-lg-8 mx-1 text-uppercase"
            routerLink="/support/customer-support/tickets"
            routerLinkActive="active"
            >Tickets</a
          >
        </li>
        <!--end::Nav item-->
        <!--begin::Nav item-->
        <li class="nav-item my-3">
          <a
            class="btn btn-active-light-primary fw-boldest nav-link btn-color-gray-700 px-3 px-lg-8 mx-1 text-uppercase"
            routerLink="/support/customer-support/tutorials"
            routerLinkActive="active"
            >Tutorials</a
          >
        </li>
        <!--end::Nav item-->
        <!--begin::Nav item-->
        <li class="nav-item my-3">
          <a
            class="btn btn-active-light-primary fw-boldest nav-link btn-color-gray-700 px-3 px-lg-8 mx-1 text-uppercase"
            routerLink="/support/customer-support/faq"
            routerLinkActive="active"
            >FAQ</a
          >
        </li>
        <!--end::Nav item-->
        <!--begin::Nav item-->
        <li class="nav-item my-3">
          <a
            class="btn btn-active-light-primary fw-boldest nav-link btn-color-gray-700 px-3 px-lg-8 mx-1 text-uppercase"
            routerLink="/support/customer-support/licenses"
            routerLinkActive="active"
            >Licenses</a
          >
        </li>
        <!--end::Nav item-->
        <!--begin::Nav item-->
        <li class="nav-item my-3">
          <a
            class="btn btn-active-light-primary fw-boldest nav-link btn-color-gray-700 px-3 px-lg-8 mx-1 text-uppercase"
            routerLink="/support/customer-support/contact-us"
            routerLinkActive="active"
            >Contact US</a
          >
        </li>
        <!--end::Nav item-->
      </ul>
      <!--end::Nav-->
    </div>
    <!--end::Card body-->
  </div>
  <!--end::Card-->
</div>
<!--end::Container-->
<!--begin::Container-->
<router-outlet></router-outlet>
<!--end::Container-->
<!--begin::Modal - Support Center - Create Ticket-->
<div
  class="modal fade"
  id="kt_modal_new_ticket"
  tabindex="-1"
  aria-hidden="true"
>
  <!--begin::Modal dialog-->
  <div class="modal-dialog modal-dialog-centered mw-750px">
    <!--begin::Modal content-->
    <div class="modal-content rounded">
      <!--begin::Modal header-->
      <div class="modal-header pb-0 border-0 justify-content-end">
        <!--begin::Close-->
        <div
          class="btn btn-sm btn-icon btn-active-color-primary"
          data-bs-dismiss="modal"
        >
          <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
          <span class="svg-icon svg-icon-1">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <rect
                opacity="0.5"
                x="6"
                y="17.3137"
                width="16"
                height="2"
                rx="1"
                transform="rotate(-45 6 17.3137)"
                fill="black"
              />
              <rect
                x="7.41422"
                y="6"
                width="16"
                height="2"
                rx="1"
                transform="rotate(45 7.41422 6)"
                fill="black"
              />
            </svg>
          </span>
          <!--end::Svg Icon-->
        </div>
        <!--end::Close-->
      </div>
      <!--begin::Modal header-->
      <!--begin::Modal body-->
      <div class="modal-body scroll-y px-10 px-lg-15 pt-0 pb-15">
        <!--begin:Form-->
        <form id="kt_modal_new_ticket_form" class="form" action="#">
          <!--begin::Heading-->
          <div class="mb-13 text-center">
            <!--begin::Title-->
            <h1 class="mb-3">Create Ticket</h1>
            <!--end::Title-->
            <!--begin::Description-->
            <div class="text-gray-400 fw-bold fs-5">
              If you need more info, please check
              <a href="" class="fw-bolder link-primary">Support Guidelines</a>.
            </div>
            <!--end::Description-->
          </div>
          <!--end::Heading-->
          <!--begin::Input group-->
          <div class="d-flex flex-column mb-8 fv-row">
            <!--begin::Label-->
            <label class="d-flex align-items-center fs-6 fw-bold mb-2">
              <span class="required">Subject</span>
              <i
                class="fas fa-exclamation-circle ms-2 fs-7"
                data-bs-toggle="tooltip"
                title="Specify a subject for your issue"
              ></i>
            </label>
            <!--end::Label-->
            <input
              type="text"
              class="form-control form-control-solid"
              placeholder="Enter your ticket subject"
              name="subject"
            />
          </div>
          <!--end::Input group-->
          <!--begin::Input group-->
          <div class="row g-9 mb-8">
            <!--begin::Col-->
            <div class="col-md-6 fv-row">
              <label class="required fs-6 fw-bold mb-2">Product</label>
              <select
                class="form-select form-select-solid"
                data-control="select2"
                data-hide-search="true"
                data-placeholder="Select a product"
                name="product"
              >
                <option value="">Select a product...</option>
                <option value="1">HTML Theme</option>
                <option value="1">Angular App</option>
                <option value="1">Vue App</option>
                <option value="1">React Theme</option>
                <option value="1">Figma UI Kit</option>
                <option value="3">Laravel App</option>
                <option value="4">Blazor App</option>
                <option value="5">Django App</option>
              </select>
            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-md-6 fv-row">
              <label class="required fs-6 fw-bold mb-2">Assign</label>
              <select
                class="form-select form-select-solid"
                data-control="select2"
                data-hide-search="true"
                data-placeholder="Select a Team Member"
                name="user"
              >
                <option value="">Select a user...</option>
                <option value="1">Karina Clark</option>
                <option value="2">Robert Doe</option>
                <option value="3">Niel Owen</option>
                <option value="4">Olivia Wild</option>
                <option value="5">Sean Bean</option>
              </select>
            </div>
            <!--end::Col-->
          </div>
          <!--end::Input group-->
          <!--begin::Input group-->
          <div class="row g-9 mb-8">
            <!--begin::Col-->
            <div class="col-md-6 fv-row">
              <label class="required fs-6 fw-bold mb-2">Status</label>
              <select
                class="form-select form-select-solid"
                data-control="select2"
                data-placeholder="Open"
                data-hide-search="true"
              >
                <option value=""></option>
                <option value="1" selected="selected">Open</option>
                <option value="2">Pending</option>
                <option value="3">Resolved</option>
                <option value="3">Closed</option>
              </select>
            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-md-6 fv-row">
              <label class="required fs-6 fw-bold mb-2">Due Date</label>
              <!--begin::Input-->
              <div class="position-relative d-flex align-items-center">
                <!--begin::Icon-->
                <div class="symbol symbol-20px me-4 position-absolute ms-4">
                  <span class="symbol-label bg-secondary">
                    <!--begin::Svg Icon | path: icons/duotune/general/gen025.svg-->
                    <span class="svg-icon">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                      >
                        <rect
                          x="2"
                          y="2"
                          width="9"
                          height="9"
                          rx="2"
                          fill="black"
                        />
                        <rect
                          opacity="0.3"
                          x="13"
                          y="2"
                          width="9"
                          height="9"
                          rx="2"
                          fill="black"
                        />
                        <rect
                          opacity="0.3"
                          x="13"
                          y="13"
                          width="9"
                          height="9"
                          rx="2"
                          fill="black"
                        />
                        <rect
                          opacity="0.3"
                          x="2"
                          y="13"
                          width="9"
                          height="9"
                          rx="2"
                          fill="black"
                        />
                      </svg>
                    </span>
                    <!--end::Svg Icon-->
                  </span>
                </div>
                <!--end::Icon-->
                <!--begin::Datepicker-->
                <input
                  class="form-control form-control-solid ps-12"
                  placeholder="Select a date"
                  name="due_date"
                />
                <!--end::Datepicker-->
              </div>
              <!--end::Input-->
            </div>
            <!--end::Col-->
          </div>
          <!--end::Input group-->
          <!--begin::Input group-->
          <div class="d-flex flex-column mb-8 fv-row">
            <label class="fs-6 fw-bold mb-2">Description</label>
            <textarea
              class="form-control form-control-solid"
              rows="4"
              name="description"
              placeholder="Type your ticket description"
            ></textarea>
          </div>
          <!--end::Input group-->
          <!--begin::Input group-->
          <div class="fv-row mb-8">
            <label class="fs-6 fw-bold mb-2">Attachments</label>
            <!--begin::Dropzone-->
            <div class="dropzone" id="kt_modal_create_ticket_attachments">
              <!--begin::Message-->
              <div class="dz-message needsclick align-items-center">
                <!--begin::Icon-->
                <!--begin::Svg Icon | path: icons/duotune/files/fil010.svg-->
                <span class="svg-icon svg-icon-3hx svg-icon-primary">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path
                      opacity="0.3"
                      d="M19 22H5C4.4 22 4 21.6 4 21V3C4 2.4 4.4 2 5 2H14L20 8V21C20 21.6 19.6 22 19 22ZM16 12.6L12.7 9.3C12.3 8.9 11.7 8.9 11.3 9.3L8 12.6H11V18C11 18.6 11.4 19 12 19C12.6 19 13 18.6 13 18V12.6H16Z"
                      fill="black"
                    />
                    <path
                      d="M15 8H20L14 2V7C14 7.6 14.4 8 15 8Z"
                      fill="black"
                    />
                  </svg>
                </span>
                <!--end::Svg Icon-->
                <!--end::Icon-->
                <!--begin::Info-->
                <div class="ms-4">
                  <h3 class="fs-5 fw-bolder text-gray-900 mb-1">
                    Drop files here or click to upload.
                  </h3>
                  <span class="fw-bold fs-7 text-gray-400"
                    >Upload up to 10 files</span
                  >
                </div>
                <!--end::Info-->
              </div>
            </div>
            <!--end::Dropzone-->
          </div>
          <!--end::Input group-->
          <!--begin::Input group-->
          <div class="mb-15 fv-row">
            <!--begin::Wrapper-->
            <div class="d-flex flex-stack">
              <!--begin::Label-->
              <div class="fw-bold me-5">
                <label class="fs-6">Notifications</label>
                <div class="fs-7 text-gray-400">
                  Allow Notifications by Phone or Email
                </div>
              </div>
              <!--end::Label-->
              <!--begin::Checkboxes-->
              <div class="d-flex align-items-center">
                <!--begin::Checkbox-->
                <label
                  class="form-check form-check-custom form-check-solid me-10"
                >
                  <input
                    class="form-check-input h-20px w-20px"
                    type="checkbox"
                    name="notifications[]"
                    value="email"
                    checked="checked"
                  />
                  <span class="form-check-label fw-bold">Email</span>
                </label>
                <!--end::Checkbox-->
                <!--begin::Checkbox-->
                <label class="form-check form-check-custom form-check-solid">
                  <input
                    class="form-check-input h-20px w-20px"
                    type="checkbox"
                    name="notifications[]"
                    value="phone"
                  />
                  <span class="form-check-label fw-bold">Phone</span>
                </label>
                <!--end::Checkbox-->
              </div>
              <!--end::Checkboxes-->
            </div>
            <!--end::Wrapper-->
          </div>
          <!--end::Input group-->
          <!--begin::Actions-->
          <div class="text-center">
            <button
              type="reset"
              id="kt_modal_new_ticket_cancel"
              class="btn btn-light me-3"
            >
              Cancel
            </button>
            <button
              type="submit"
              id="kt_modal_new_ticket_submit"
              class="btn btn-primary"
            >
              <span class="indicator-label">Submit</span>
              <span class="indicator-progress"
                >Please wait...
                <span
                  class="spinner-border spinner-border-sm align-middle ms-2"
                ></span
              ></span>
            </button>
          </div>
          <!--end::Actions-->
        </form>
        <!--end:Form-->
      </div>
      <!--end::Modal body-->
    </div>
    <!--end::Modal content-->
  </div>
  <!--end::Modal dialog-->
</div>
<!--end::Modal - Support Center - Create Ticket-->
