<div class="pb-10 pb-lg-5">
  <h2 class="fw-bolder d-flex align-items-center text-dark">
    Add Users
    <i
      class="fas fa-exclamation-circle ms-2 fs-7"
      ngbTooltip="Billing is issued based on your selected account type"
    ></i>
  </h2>

  <div class="text-gray-400 fw-bold fs-6">
    We've created your organization and set up some default roles.
  </div>
</div>

<div class="mt-5">
    <h1>Import Users</h1>
    <div class="separator border-4"></div>
    <div class="container">
        <div class="pt-5">
            <a href="#" class="btn btn-secondary">Connect DataSource</a>
        </div>
        <div class="pt-5">
            <a href="#" class="btn btn-secondary">Import Users</a>
        </div>
        <div class="pt-5">
            <a href="#" class="btn btn-secondary">Create Users</a>
        </div>
    </div>
</div>
<div class="mt-5">
    <h1>Departments</h1>
    <div class="separator border-4"></div>
    <div class="container">
        <div class="pt-5">
            <a href="#" class="btn btn-secondary">Connect DataSource</a>
        </div>
        <div class="pt-5">
            <a href="#" class="btn btn-secondary">Import Departments</a>
        </div>
        <div class="pt-5">
            <a href="#" class="btn btn-secondary">Create Department</a>
        </div>
    </div>
    <div class="d-flex flex-stack pt-15">
      <div class="mr-2">
        <button
          type="button"
          class="btn btn-lg btn-light-primary me-3"
          [disabled]="!userForm.invalid"
          (click)="goBack()"
        >
          <span
            [inlineSVG]="'./assets/media/icons/duotune/arrows/arr063.svg'"
            class="svg-icon svg-icon-4 me-1"
          ></span>
          Back
        </button>
      </div>
      <div>
        <button
          type="button"
          class="btn btn-lg btn-primary me-3"
          [disabled]="false"
          (click)="submit()"
        >
          <span class="indicator-label">
              Continue {{ " " }}
              <span
                [inlineSVG]="
                  './assets/media/icons/duotune/arrows/arr064.svg'
                "
                class="svg-icon svg-icon-3 ms-2 me-0"
              ></span>
          </span>
        </button>
      </div>
    </div>
</div>