<span class="text-gray-500">Step 1: Import or update your financial and non-financial data.</span>
<div class="mt-10">
    <h1>Financials</h1>
    <div class="separator border-4"></div>
    <div class="container">
        <div class="pt-5">
            <label class="fs-4 fw-bold">Date Range: <span class="fs-6">January 2021 - August 2021</span></label>
            <a href="#" class="text-gray-400">remove periods</a>
        </div>
        <div class="pt-5">
            <label class="fs-4 fw-bold">Source: <span class="fs-6">XERO</span></label>
        </div>
        <div class="pt-5">
            <label class="fs-4 fw-bold">Last Updated: 2 years ago <span class="text-gray-400 fs-6">(6th October 2012 1:54pm)</span></label>
        </div>
        <div class="pt-5">
            <a href="#" class="btn btn-secondary">Update from Xero</a>
        </div>
    </div>
</div>
<div class="mt-10">
    <h1>Budgets</h1>
    <div class="separator border-4"></div>
    <div class="container">
        <div class="pt-5">
            <label class="fs-4 fw-bold">Date Range: <span class="fs-6">January 2021 - August 2021</span></label>
            <a href="#" class="text-gray-400">remove periods</a>
        </div>
        <div class="pt-5">
            <label class="fs-4 fw-bold">Source: <span class="fs-6">XERO</span></label>
        </div>
        <div class="pt-5">
            <label class="fs-4 fw-bold">Last Updated: 2 years ago <span class="text-gray-400 fs-6">(6th October 2012 1:54pm)</span></label>
        </div>
        <div class="pt-5">
            <a href="#" class="btn btn-secondary">Update from Xero</a>
        </div>
    </div>
</div>
<div class="mt-10">
    <h1>Non-financials (Custom KIPs)</h1>
    <div class="separator border-4"></div>
    <div class="container">
        <div class="pt-5">
            <label class="fs-4 fw-bold">KPI Results: <span class="fs-6">Before importing results, please select or define your custom KPIs.</span></label>
        </div>

        <div class="pt-5">
            <a href="#" class="btn btn-secondary"><i class="bi bi-plus fs-2x"></i>Import KPI Results</a>
        </div>
    </div>
</div>